/* CSS */
 


label {
	margin-right: .3em;
	width: 15.3em;  /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
	
}


#formstart {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	font-weight:bold;
}

.outline3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:150%;
	font-weight:bold;
}

.outline4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	font-weight:bold;
}
